{
  "extends": [
    "standard",
    "plugin:prettier/recommended",
    "plugin:react/recommended",
    "plugin:jest/recommended",
    "plugin:jest/style",
    "plugin:testing-library/recommended",
    "plugin:testing-library/react"
  ],
  "plugins": ["prettier", "react", "jest", "testing-library"],
  "env": {
    "jest": true
  },
  "rules": {
    "prettier/prettier": [
      "error",
      {
        "endOfLine": "auto"
      }
    ]
  },
  "settings": {
    "react": {
      "version": "detect"
    }
  }
}
