.briefingBtnTgle {
  position: fixed;
  bottom: 1.6rem;
  right: 1.6rem;
  width: 3.2rem;
  height: 3.2rem;
  background: transparent;
  border: 1px solid var(--text-light);
  border-radius: 3px;

  &:hover {
    background: var(--blank);
  }

  &:focus:not(:focus-visible) {
    outline: none;
  }

  &:focus-visible {
    outline: none;
    box-shadow: var(--blank) 0 0 0 2px, var(--secondary) 0 0 0 4px;
  }
}

:global {
  .briefingMD {
    &.home {
      h1 {
        color: var(--text);
      }

      .date {
        color: var(--text-light);
        font-size: 1.4rem;
        margin-top: 3.2rem;
        font-style: italic;
      }
    }

    &.hiddenIntro {
      h1 ~ * {
        opacity: 0.1;
      }

      h2:nth-of-type(2) ~ * {
        opacity: 1;
      }

      h1,
      h2,
      pre {
        opacity: 1;

        * {
          opacity: inherit;
        }
      }
    }

    .light {
      color: var(--text-light);
    }

    p {
      margin: 1.6rem 0;
    }

    a {
      display: inline-block;
      padding: 0.1rem 0.2rem;
      color: inherit;
      text-decoration-color: var(--brand-strong);
      transform: translateX(-0.1em);
      margin-right: -0.1em;
    }

    ul a {
      display: inline;
    }

    a:hover {
      color: var(--brand-strong);
    }

    a:focus {
      outline: none;
      background-color: var(--brand-light);
    }

    pre {
      background: var(--blank);
      display: block;
      padding: 1.6rem;
      color: inherit;
      border-left: 3px solid var(--brand);
      margin: 0.8rem 0 3.2rem;
    }

    code[class*='language-'],
    pre[class*='language-'] {
      font-size: 1.2rem; /* override prims */
    }

    pre code {
      background: var(--blank);
    }

    code {
      background: #e7e1dc;
      padding: 0.1rem 0.3rem;
      font-weight: 100;
    }

    h1 {
      font-size: 3.2rem;
      font-weight: 600;
      color: var(--brand);
      margin: 0 0 1.6rem;
      line-height: 1.2;
    }

    h2 {
      font-size: 2.4rem;
      font-weight: 600;
      margin: 3.2rem 0 1.6rem;
      line-height: 1.2;
    }

    h3 {
      font-size: 1.8rem;
      font-weight: 600;
      margin: 3.2rem 0 1.6rem;
      line-height: 1.2;
    }

    hr {
      margin: 3.2rem 0;
      border: none;
      border-bottom: 0.1rem solid var(--brand);
    }

    details {
      margin: 1.6rem 0;
    }

    blockquote {
      margin: 0;

      p {
        font-style: italic;
      }
    }

    table {
      border-collapse: collapse;
      margin-bottom: 1.6rem;

      thead tr th {
        text-align: left;
        padding: 0.6rem;
        border-bottom: 1px solid #aaa;
        border-right: 1px solid #aaa;
      }

      tr {
        th:first-child,
        td:first-child {
          border-left: none;
        }

        th:last-child,
        td:last-child {
          border-right: none;
        }
      }

      td {
        padding: 0.6rem;
        border: 1px solid #ccc;
      }
    }
  }
}
