.field {
  display: block;
}

.label {
  display: block;
  margin-bottom: 4px;
  font-weight: 600;
}

.select {
  position: relative;
  width: 12rem;
  height: 4rem;
  font-size: inherit;
  line-height: 1.5;
  background-color: #fff;
  border: 1px solid #6f6f6f;
  border-radius: 0.4rem;
  padding: 0rem 0.8rem;

  /* Arrow on right side */
  -webkit-appearance: none;
  -moz-appearance: none;
  background-image: url("data:image/svg+xml;utf8,<svg fill='black' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
  background-repeat: no-repeat;
  background-position-x: 100%;
  background-position-y: 0.8rem;

  &:focus {
    outline: none;
    box-shadow: var(--blank) 0 0 0 0.2rem, var(--secondary) 0 0 0 0.4rem;
  }
}
