.shell {
  display: flex;
  align-items: stretch;
  --content-max: 52rem;
  --shell-topPadding: 4rem;
}

.sidebar {
  width: calc(50vw - (var(--content-max) / 2));
  background-color: var(--brand-light);
  padding: 0 2.4rem;

  &Inner {
    position: sticky;
    top: var(--shell-topPadding);
    display: flex;
    justify-content: flex-end;
  }
}

.area {
  flex-grow: 1;
  min-height: 100vh;
  padding: var(--shell-topPadding) 1.6rem var(--shell-topPadding) 4rem;
}

.content {
  max-width: var(--content-max);
}
