.button {
  display: inline-flex;
  border: none;
  font-family: inherit;
  font-size: inherit;
  font-weight: 600;

  &[aria-pressed='true'] {
    border-color: var(--brand);
    background-color: var(--brand);
    color: var(--blank);
  }

  &:hover {
    cursor: pointer;
    border-color: var(--brand);
  }

  &:focus:not(:focus-visible) {
    outline: none;
  }

  &:focus-visible {
    outline: none;
    box-shadow: var(--blank) 0 0 0 2px, var(--secondary) 0 0 0 4px;
  }
}

.size-xs {
  padding: 4px 12px;
  font-size: 1.3rem;
  font-family: inherit;
}

.size-sm {
  padding: 8px;
  font-size: 1.3rem;
  font-family: inherit;
}

.size-md {
  padding: 12px;
  font-family: inherit;
}

.size-lg {
  padding: 12px 16px;
  font-size: 1.8rem;
}

.variant-solid {
  border-radius: 3px;
  color: var(--blank);
  background: var(--brand);
}

.variant-outline {
  border-radius: 3px;
  color: var(--text);
  background: var(--blank);
  border: 2px solid var(--brand);
}

.variant-reset {
  background: none;
  padding: 0;
  margin: 0;
  font-weight: inherit;
}
