:root {
  --bg: #f8f3ef;
  --blank: #fff;
  --text: #343434;
  --text-light: #6f6f6f;
  --brand: #9b78de;
  --brand-strong: #8c00ff;
  --brand-light: #e9e1f8;
  --secondary: #ff821f;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'IBM Plex Sans', sans-serif;
  font-size: 1.6rem;
  line-height: 1.5;
  font-weight: 400;
  background-color: var(--bg);
  color: var(--text);
  box-sizing: border-box;
  margin: 0;
  overflow-x: hidden;

  * {
    box-sizing: inherit;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}

ul,
ol {
  padding: 0 10px;
  margin: 0 10px;
}

p {
  margin: 0;
}

:global {
  .sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0px;
    margin: -1px;
    overflow: hidden;
    clip: rect(0px, 0px, 0px, 0px);
    border: 0px;
  }
}
